@charset "uft-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

$primary: #33afff;
$body-size: 14px;
$body-color: white;
$body-font-size: .75em;
@import "../node_modules/bulma/bulma.sass";